<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">sapass</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/janissary</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="entities/dao/Classroom.hbm.xml"/>
        <mapping resource="entities/dao/Course.hbm.xml"/>
        <mapping resource="entities/dao/Department.hbm.xml"/>
        <mapping resource="entities/dao/Lecturer.hbm.xml"/>
        <mapping resource="entities/dao/Schedule.hbm.xml"/>
        <mapping resource="entities/dao/Syllabus.hbm.xml"/>
        <mapping resource="entities/dao/SyllabusArchive.hbm.xml"/>
        <mapping resource="entities/dao/SysUser.hbm.xml"/>
        <mapping resource="entities/dao/TypeofCourse.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
